[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "0.74.0"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
statsmodels = "*"
plotly = "*"
censusgeocode = "*"

[dev-packages]

[requires]
python_version = "3.8"
