[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
plotly = "*"
censusgeocode = "*"

[dev-packages]

[requires]
python_version = "3.8"
